.wrapper{
    /* width: 100%; */
    margin: 0 auto;
    background-color: lightyellow ;
   
  }

.frame {
    margin-top: 3%;
}
 
.firstAnswer {
    color: #fff; 
    text-decoration: none; 
    user-select: none;
    background: rgb(212,75,56); 
    padding: .7em 1.5em; 
    outline: none; 
}

.firstAnswer:hover { background: rgb(232,95,76); }
.firstAnswer:active { background: rgb(152,15,0); } 


.secondAnswer {
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(212,75,56); 
    padding: .7em 1.5em;
    outline: none;
}

.secondAnswer:hover { background: rgb(232,95,76); } 
.secondAnswer:active { background: rgb(152,15,0); } 